<!--<nav class="navbar">
    <ul class="navbar-links">
        <li><a routerLink="/">Dashboard</a></li>
        <li><a routerLink="/subjects">Subjects</a></li>
    </ul>
    <div class="navbar-actions">
    </div>
</nav>-->

<mat-toolbar color="primary">
    <span class="fill-remaining-space"></span>
    <button mat-button>Dashboard</button>
    <button mat-button routerLink="/subject">Modules</button>
    <button mat-button>Register</button>
    <button mat-button routerLink="login">Log In</button>
    <button mat-button routerLink="onLogout()">Log Out</button>
</mat-toolbar>