<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Please verify email address</h3>
            <div class="formGroup" *ngIf="authService.userData as user">
                <p class="text-center">A confirmation email has been sent</p>
                <p class="text-center">Please check yout inbox</p>
            </div>
            <div class="formGroup">
                <button type="button"  (click)="authService.SendVerifyEmail()">
                    <i class="fas fa-redo-alt"></i>
                    Resend Email
                </button>
            </div>
        </div>
        <div class="redirectToLogin">
                <button class="redirect" routerLink="/sign-in">
                    Sign In
                </button>
        </div>
    </div>
</div>