<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="w3-bar w3-theme">
      <a routerLink="/dashboard" class="w3-bar-item w3-button w3-padding-16">Home</a>
      <a routerLink="/subject-registration" class="w3-bar-item w3-button w3-padding-16">Module Sign-Up</a>
      <a routerLink="/add-subject" class="w3-bar-item w3-button w3-padding-16">Add Modules</a>
      <a routerLink="/sign-in" class="w3-bar-item w3-button w3-padding-16" (click)="authService.SignOut()">Log Out</a>
    </div>

    <div class="w3-container">
      <hr>

      <div class="w3-border">
        <div class="w3-bar w3-theme">
          @for (subject of subjects; track subject.key; let i = $index) {
            <button class="w3-bar-item w3-button testbtn w3-paddng-16" [class.active] = "i == currentIndex" (click)="setActiveSubject(subject, i)">{{subject.code}}</button>
          }
        </div>
        <div *ngIf="currentSubject" class="w3-container w3-animate-opacity">
          <h2>{{currentSubject.name}}</h2>
          <p>{{currentSubject.description}}</p>
        </div>
      </div>
    </div>
  </body>
</html>