<div class="displayTable">
    <div class="displayTableCell">
        <div class="authBlock">
            <h3>Reset Password</h3>
            <p class="text-center">Please enter your email address </p>
            <div class="formGroup">
                <input type="email" class="formControl" placeholder="email" #reset required />
            </div>
            <div class="formGroup">
                <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(reset.value)" >
            </div>
        </div>
        <div class="redirectToLogin">
            <span>
                Go back to Login?
                <span class="redirect" routerLink="/sign-in"><button>Log In</button></span>
            </span>
        </div>
    </div>
</div>
