<div class="list row">
    <div class="col-md-6">
        <h4>Subject List</h4>
        <ul class="list-group">
            @for (subject of subjects; track subject.key; let i = $index) {
            <li class="list-group-item"
                [class.active]="i == currentIndex"
                (click)="setActiveSubject(subject, i)">{{ subject.code }}</li>}
        </ul>
        
        <button class="m-3 btn btn-sm btn-danger" (click)="removeAllSubjects">Remove All</button>
    </div>
    <div class="col-md-6">
        @if (currentSubject) {
        <div>
            <app-subject-details
                (refreshList)="refreshList()"
                [subject]="currentSubject">
            </app-subject-details>
        </div> } @else {
        <div *ngIf="!currentSubject">
            <br />
            <p> Please choose a subject...</p>
        </div>}
    </div>
</div>